{% extends "base.html" %}

{% block title %}
	Product Detail
{% endblock %}


{% block content %}

<div class='col-sm-8'>
    <strong><h2>{{ object.title }} by {{ object.manufacturer }}</h2></strong>

    {% if object.get_image_url %}
        <div>
        <img id='img' class='img-responsive' src='{{ object.get_image_url }}' />
        </div>
    {% endif %}

   <p class='lead'>
        {{ object.description }}
   </p>
</div>


<div class='col-sm-4'>
   <form id='add-form' method='GET' action="{% url 'cart' %}">
    <p id='jquery-message' class='lead'>  </p>

    {% if object.variation_set.count > 1 %}
        <h3 id='price'>{{ object.variation_set.first.price }}</h3>

        <select name='item' class='form-control variation_select'>
            {% for vari_obj in object.variation_set.all %}
            <!-- <option data-img="http://www.spirit1059.com/pics/Feeds/Articles/2015611/118317/Beach.jpg" data-price="{{ vari_obj.price }}" value="{{ vari_obj.id }}">{{ vari_obj }}</option> -->
            <option  data-object="{{ vari_obj.pk }}"  data-sale-price="{{ vari_obj.sale_price }}" data-price="{{ vari_obj.price }}" value="{{ vari_obj.id }}">{{ vari_obj }}</option>
            {% endfor %}
            </select>

    {% else %}
		<input type="hidden" name='item' value='{{ object.variation_set.first.id }}' />
			<h3 id='price'>
                {% if object.variation_set.first.sale_price %}
                    {{ object.variation_set.first.sale_price  }}
                    <small class='og-price'>{{ object.variation_set.first.price }}</small>
                {% else %}
                    {{ object.variation_set.first.price }}
                {% endif %}
		    </h3>
    {% endif %}
    <br/>
    <br/>
	<input class='form-control' type='number' name='qty' value='1' />
    <br/>
    <input id='submit-btn' type='submit' value='Add to Cart' class='btn btn-warning' />

</form>
</div>



  <script>
    $(document).ready(function(){
       // alert("Jquery Ready !!");

       $("#addToCart").on("click", function(){
           {% if object.variation_set.count > 1 %}
                alert($(".variation_select option:selected").attr("data-object"));

           {% else %}
                alert(" {{object.variation_set.first.pk }} " );
           {% endif %}
       });


// ajax add to cart

    $("#submit-btn").click(function(event){
        event.preventDefault();
        var formData = $("#add-form").serialize();
        console.log(formData);
        $.ajax({
            type: "GET", // "POST"
            url: "{% url 'cart' %}",
            data: formData,
            success: function(data) {
               alert(data.flash_message);
            },
            error: function(response, error) {
                // console.log(response)
                // console.log(error)
                $("#add-form").submit()
            }
        })

        // $("#add-form").submit()

    })


        function setPrice(){
            var price = $(".variation_select option:selected").attr("data-price")

            var sale_price = $(".variation_select option:selected").attr("data-sale-price")
            if (sale_price != "" && sale_price != "None" && sale_price != null ) {
            $("#price").html("<h3>" + sale_price + " <small class='og-price'>" + price  + "</small></h3>");
            } else {
            $("#price").html(price);
            }
        }

        setPrice()

        $(".variation_select").change(function(){
            setPrice()
            // var img = $(".variation_select option:selected").attr("data-img")
            // $("img").attr("src", img);

        })

    });

  </script>
{% endblock %}

